# =========================
# OS / misc
# =========================
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp
*.swp
*.swo

# =========================
# IntelliJ / Android Studio
# =========================
.idea/
*.iml
*.ipr
*.iws

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/

# =========================
# Android
# =========================
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# =========================
# iOS / macOS generated
# =========================
**/ios/Flutter/.last_build_id

# =========================
# Obfuscation / symbols
# =========================
app.*.symbols
app.*.map.json

# =========================
# Secrets
# =========================
lib/config/secrets.dart
.env
.env.*
*.jks
*.keystore
key.properties